<h1>Edit an existing Todo</h1>

<% if @todo.errors.any? %>
    <h2> The following errors prevented the todo from being saved </h2>
    <ul>
        <% @todo.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @todo do |f| %>
    <div class="mb-3">
        <%= f.label :name %> <br>
        <%= f.text_field :name, style:'width:25%;' %>
    </div>

    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description , rows:10, style:'width:25%;' %>
    </p>
    <p>
        <%= f.submit "Save" %>
    </p>
<% end %>