<h1>Showing Todo </h1>

<table>



    <tr>
        <td>Id: </td>
        <td>
            <%= @todo.id %>
        </td>
    </tr>
    <tr>
        <td> Name: </td>
        <td>
            <%= @todo.name %>
        </td>
    </tr>
    <tr>
        <td> Description: </td>
        <td>
            <%= @todo.description %>
        </td>
    </tr>

</table>
<p> </p>
<%= link_to "Back", todos_path %> | <%= link_to "Edit", edit_todo_path(@todo) %>
